body {
	font-family: sans-serif;
	background-color: #eee;
	color: #222;
}

#container{
	width:90%;
	margin-left: auto;
	margin-right: auto;
}


#logo{
	text-align: center;
	font-size: 4em;
	margin-right:auto;
	margin-left:auto;
	background-color: maroon;
	color: #eee;
}

#faces{
	background-color:#f70;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 2em;
}

#faces img{
	padding-left: 2%;
	padding-right: 2%;
	width: 20%;
}

#intro{
	padding: 0%, 10%;
}

#intro h1 {
	font-size: 4em;
	text-align: center;
}

#intro p{
	font-size: 2em;
}

.hidden {
    display: none;
}

p {
	text-align: justify;
}

.blog-post .title{
	font-size: 4em;
	text-align: center;
	padding-bottom: 1em;
}

.blog-post .picture-background{
	width: 100%;
}

.snippet-content {
	border: 2px solid black;
}

.read-more {
	border: 2px solid black;
	margin-left: auto;
}
