<!DOCTYPE html>
<html>
    <head>
        <title>The Blog of the Unnamed team</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <div id="container">
            <div id="navContainer">
                <div id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="navigation" class="hidden">
                    <ul>
                        <li><a href="http://plastic-cup.github.io/blog/blog.html" id="blog-link">Blog</a></li>
                        <li><a href="http://plastic-cup.github.io/blog/projects.html" id="project-link">Projects</a></li>
                        <li><a href="#profiles" id="profile-link">Profiles</a></li>
                    </ul>
                </div>
            </div>
            <%- yield %>
        </div>
        <script src="https://code.jquery.com/jquery-git2.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
